<div class="p-3 shadow">

    <div class="row">
        <div class="col-12">
            <h1>Seleziona Scheda Work-Day</h1>
            <hr>
            <div class="col-12 text-end">
                <button class="btn btn-dark btn-sm me-2" [routerLink]="['/home']">Indietro</button>
            </div>
            <hr>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <th></th>
                            <th>Nome</th>
                            <th>Data Inizio</th>
                            <th>Data Fine</th>
                            <th>Certified</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of schede">
                                <td>
                                    <button class="btn btn-primary btn-sm"
                                        [routerLink]="['/playscheda',root.getCurrentUser().id,s.id]"><i
                                            class="bi bi-play-fill"></i></button>
                                </td>
                                <td>{{s.nome}}</td>
                                <td>{{s.dataInizio}}</td>
                                <td>{{s.dataFine}}</td>
                                <td>{{s.idTrainer?"YES":"NO"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>