<div class="table-responsive">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="min-width: 50px;"></th>
            <th scope="col" style="min-width: 200px;">
                <div class="float-start h-100"><span>Nome</span></div>
                <div class="float-end h-100">
                    <button type="button" mat-button class="border-0 rounded-0 btn" (click)="sortTable('nome')">
                        <i *ngIf="!sortColumn || (sortColumn && sortColumn!.field!='nome')" class="bi bi-arrow-down-up"></i>
                        <i *ngIf="sortColumn && sortColumn!.field=='nome' && sortOrder=='asc'" class="bi bi-arrow-up"></i>
                        <i *ngIf="sortColumn && sortColumn!.field=='nome' && sortOrder=='desc'" class="bi bi-arrow-down"></i>
                    </button>
                </div>
                <div class="float-end h-100">
                    <button type="button" class="rounded-0 border-0 btn" mat-button [matMenuTriggerFor]="menu">
                        <i class="bi bi-funnel" *ngIf="!filters['nome'].active"></i>
                        <i class="bi bi-funnel-fill" *ngIf="filters['nome'].active"></i>
                    </button>
                    <mat-menu #menu="matMenu" class="rounded-0" style="height: 100px;">
                        <div (click)="$event.stopPropagation();">
                            <div class="p-2" style="font-size: 10px;">
                                <mat-form-field class="w-100">
                                    <mat-label>Nome</mat-label>
                                    <input matInput class="w-100" type="text" [(ngModel)]="filters['nome']['value']" (change)="filterTable()" />
                                    <i matIconPrefix class="bi bi-funnel ms-2"></i>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="w-100 p-1">
                            <button type="button" class="btn btn-sm btn-outline-dark w-100"
                                (click)="clearFilter('nome')">Clear</button>
                        </div>
                    </mat-menu>
                </div>
            </th>
            <th scope="col"  style="min-width: 300px;">
                <div class="float-start h-100"><span>Fascia Muscolare</span></div>
                <div class="float-end h-100">
                    <button type="button" mat-button class="border-0 rounded-0 btn" (click)="sortTable('muscoli')">
                        <i *ngIf="!sortColumn || (sortColumn && sortColumn!.field!='muscoli')" class="bi bi-arrow-down-up"></i>
                        <i *ngIf="sortColumn && sortColumn!.field=='muscoli' && sortOrder=='asc'" class="bi bi-arrow-up"></i>
                        <i *ngIf="sortColumn && sortColumn!.field=='muscoli' && sortOrder=='desc'" class="bi bi-arrow-down"></i>
                    </button>
                </div>
                <div class="float-end h-100">
                    <button type="button" class="rounded-0 border-0 btn" mat-button [matMenuTriggerFor]="muscoli">
                        <i class="bi bi-funnel" *ngIf="!filters['muscoli'].active"></i>
                        <i class="bi bi-funnel-fill" *ngIf="filters['muscoli'].active"></i>
                    </button>
                    <mat-menu #muscoli="matMenu" class="rounded-0" style="height: 100px;">
                        <div (click)="$event.stopPropagation();">
                            <div class="p-2" style="font-size: 10px;">
                                <mat-form-field class="w-100">
                                    <mat-label>Fascia Muscolare</mat-label>
                                    <input matInput class="w-100" type="text" [(ngModel)]="filters['muscoli']['value']" (change)="filterTable()" />
                                    <i matIconPrefix class="bi bi-funnel ms-2"></i>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="w-100 p-1">
                            <button type="button" class="btn btn-sm btn-outline-dark w-100"
                                (click)="clearFilter('muscoli')">Clear</button>
                        </div>
                    </mat-menu>
                </div>
            </th>
            <th scope="col" style="min-width: 250px;">
                <div class="float-start h-100"><span>Descrizione</span></div>
                <div class="float-end h-100">
                    <button type="button" mat-button class="border-0 rounded-0 btn" (click)="sortTable('descrizione')">
                        <i *ngIf="!sortColumn || (sortColumn && sortColumn!.field!='descrizione')" class="bi bi-arrow-down-up"></i>
                        <i *ngIf="sortColumn && sortColumn!.field=='descrizione' && sortOrder=='asc'" class="bi bi-arrow-up"></i>
                        <i *ngIf="sortColumn && sortColumn!.field=='descrizione' && sortOrder=='desc'" class="bi bi-arrow-down"></i>
                    </button>
                </div>
                <div class="float-end h-100">
                    <button type="button" class="rounded-0 border-0 btn" mat-button [matMenuTriggerFor]="descrizione">
                        <i class="bi bi-funnel" *ngIf="!filters['descrizione'].active"></i>
                        <i class="bi bi-funnel-fill" *ngIf="filters['descrizione'].active"></i>
                    </button>
                    <mat-menu #descrizione="matMenu" class="rounded-0" style="height: 100px;">
                        <div (click)="$event.stopPropagation();">
                            <div class="p-2" style="font-size: 10px;">
                                <mat-form-field class="w-100">
                                    <mat-label>Descrizione</mat-label>
                                    <input matInput class="w-100" type="text" [(ngModel)]="filters['descrizione']['value']" (change)="filterTable()" />
                                    <i matIconPrefix class="bi bi-funnel ms-2"></i>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="w-100 p-1">
                            <button type="button" class="btn btn-sm btn-outline-dark w-100"
                                (click)="clearFilter('descrizione')">Clear</button>
                        </div>
                    </mat-menu>
                </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of exes">
            <th scope="row"><button class="btn btn-sm btn-outline-primary" (click)="openDialog(e)"><i class="bi bi-eye-fill"></i></button></th>
            <td>{{e.nome}}</td>
            <td>{{e.muscoli}}</td>
            <td>{{e.descrizione}}</td>
          </tr>
        </tbody>
      </table>
</div>
