<div class="p-3 shadow">

    <div class="row">
        <div class="col-12">
            <h1>Modifica Scheda</h1>
            <hr>
            <div class="text-end">
                <button class="btn btn-success btn-sm me-2" (click)="saveWorkDay()">Salva</button>
                <button class="btn btn-dark btn-sm" [routerLink]="['/playlistschede']">Indietro</button>
            </div>
            <hr>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" style="min-width: 50px;"></th>
                            <th scope="col" style="min-width: 200px;">
                                <div class="float-start h-100"><span>Nome</span></div>
                            </th>
                            <th scope="col" style="min-width: 250px;">
                                <div class="float-start h-100"><span>Fascia Muscolare</span></div>
                            </th>
                            <th style="min-width: 200px;">
                                Info Scheda:
                            </th>
                            <th style="min-width: 200px;">
                                N° Ripetizioni
                            </th>
                            <th style="min-width: 200px;">
                                Pesi [Kg]
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of exes">
                            <th scope="row"><button class="btn btn-sm btn-outline-primary" (click)="openDialog(e)"><i
                                        class="bi bi-eye-fill"></i></button></th>
                            <td>{{e.nome}}</td>
                            <td>{{e.muscoli}}</td>
                            <td style="border-left: 1px solid">
                                <span>Numero Serie:</span>&nbsp;&nbsp;<b>{{e.serie}}</b><br>
                                <span>Numero Ripetizioni:</span>&nbsp;&nbsp;<b
                                    *ngFor="let i of e.ripetizioni ; index as ind "><span
                                        *ngIf="ind!=0">-</span>{{i}}</b><br>
                                <span>Pesi:</span>&nbsp;&nbsp;<b *ngFor="let i of e.pesi ; index as ind "><span
                                        *ngIf="ind!=0">-</span>{{i}}</b><br>
                            </td>
                            <td>
                                <input *ngIf="e.serie>0" class="form-control" type="number"
                                    [(ngModel)]="e.playRipetizioni[0]" [disabled]="!e.check">
                                <input *ngIf="e.serie>1" class="form-control" type="number"
                                    [(ngModel)]="e.playRipetizioni[1]" [disabled]="!e.check">
                                <input *ngIf="e.serie>2" class="form-control" type="number"
                                    [(ngModel)]="e.playRipetizioni[2]" [disabled]="!e.check">
                                <input *ngIf="e.serie>3" class="form-control" type="number"
                                    [(ngModel)]="e.playRipetizioni[3]" [disabled]="!e.check">
                                <input *ngIf="e.serie>4" class="form-control" type="number"
                                    [(ngModel)]="e.playRipetizioni[4]" [disabled]="!e.check">
                                <input *ngIf="e.serie>5" class="form-control" type="number"
                                    [(ngModel)]="e.playRipetizioni[5]" [disabled]="!e.check">
                            </td>
                            <td>
                                <input *ngIf="e.serie>0" class="form-control" type="number" [(ngModel)]="e.playPesi[0]"
                                    [disabled]="!e.check">
                                <input *ngIf="e.serie>1" class="form-control" type="number" [(ngModel)]="e.playPesi[1]"
                                    [disabled]="!e.check">
                                <input *ngIf="e.serie>2" class="form-control" type="number" [(ngModel)]="e.playPesi[2]"
                                    [disabled]="!e.check">
                                <input *ngIf="e.serie>3" class="form-control" type="number" [(ngModel)]="e.playPesi[3]"
                                    [disabled]="!e.check">
                                <input *ngIf="e.serie>4" class="form-control" type="number" [(ngModel)]="e.playPesi[4]"
                                    [disabled]="!e.check">
                                <input *ngIf="e.serie>5" class="form-control" type="number" [(ngModel)]="e.playPesi[5]"
                                    [disabled]="!e.check">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>