<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://10.103.158.121:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering allowDoubleEscaping="true" allowHighBitCharacters="true">
                <fileExtensions allowUnlisted="true" />
                <verbs>
                    <remove verb="POST" />
                    <remove verb="TRACE" />
                    <remove verb="DELETE" />
                    <remove verb="GET" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
