<div class="row">
    <div class="col-12">
        <h1>Gestione Schede</h1>
    <hr>
    <div class="col-12 text-end">
        <button class="btn btn-primary btn-sm" (click)="openDialogCreateScheda()">+ Crea Scheda</button>
    </div>
    <hr>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th></th>
                    <th>Nome</th>
                    <th>Data Inizio</th>
                    <th>Data Fine</th>
                    <th>Certified</th>
                </thead>
                <tbody>
                    <tr *ngFor="let s of schede">
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="openConfirmToRemove(s)"><i class="bi bi-trash-fill"></i></button>
                            <button class="btn btn-primary btn-sm ms-2" [routerLink]="['/modificascheda',s.idCliente,s.id]"><i class="bi bi-pencil-square"></i></button>
                        </td>
                        <td>{{s.nome}}</td>
                        <td>{{s.dataInizio}}</td>
                        <td>{{s.dataFine}}</td>
                        <td>{{s.idTrainer?"YES":"NO"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>